.grid {
    align-self: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }


.grid-cell{
    width: 10vh;
    height: 10vh;
    background-color: rgb(81, 177, 233);
    border-radius: 50%;
    margin: 10px;
}

.grid-row{
  border: solid 2px white;
}

.grid-row:hover{
  border: solid 2px orange;
  border-radius: 30px;
}

