body{
  background-color: rgb(61, 61, 61);
}

.playBox{
  display: flex;
  align-items: center;
  justify-content: center;
}

.connectionBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid white 1px;
  border-radius: 50px;
  background-color: rgb(87, 87, 87);
  min-width: 500px;
}

.connectionBox *{
  color: white;
}

#connectionDisplay{
  font-size: 5rem;
}